@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Memory Game!</h1>
    <p>Choose an option to get started:</p>
    <a class="btn btn-primary btn-lg" href="/Game/Start">Start a New Game</a>
</div>
